.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(70px);
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.smallTitle {
  font-size: rem(35px);
}

.smallSubTitle {
  font-size: rem(18px);
}
