.appContainer{
    /* Border */
    border: 1px solid #006D77;

    /* Flexbox */
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;

    /* Margins */
    margin-left: 17rem;
    margin-right: 17rem;
    margin-top: 3rem;

    /* Padding */
    padding-top:1rem;
    padding-bottom:1rem;
    /* padding-left:0.5rem; */
    /* padding-right:0.5rem; */

    /* Font Size */
    font-size: 20px;
}