.container{
    /* Flex Box */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Margins */
    margin-top: 5rem;
    margin-left: 17rem;
    margin-right: 17rem;

    /* Padding */
    padding: 1rem;

    /* Color */
    border: 2px solid #e20000;
    border-radius: 5px;
}

.title{
    /* Font Settings */
    font-weight: 600;
    font-size: 25px;
}