/* 
    Navbar
*/
.navbar{
    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Margins & Padding */
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    /* Border */
    border-bottom: 2px solid #006D77;
}

/* 
    Navbar Components    
*/
.navRight{
    /* Flexbox */
    display: flex;

    /* Margins */
    margin-right: 1rem;

    /* Debug border */
    /* border: 1px solid red; */
}

.title{
    /* Color */
    color: #006D77;

    /* Font Adjustments */
    font-weight: 700;
    font-size: 25px;

    /* Margins */
    margin-left: 2rem;
}